html, body {
    height: 100%;
}

body {
    padding: 10px 20px;
    background-color: #e0e0e0;
}

h1 {
    font-size: 24px;
    text-align: center;
}

fieldset {
    margin: 20px 0px;
}

textarea {
    height: 200px;
}

.progress-container {
    margin: 10px 0px 20px 0px;
}

#message {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button[type=submit] {
    margin: 10px 0px;
}

.bottom {
    text-align: center;
}
